.cm-line[data-templater-code] {
  font-family: var(--font-monospace);
  background-color: var(--background-primary-alt);
  border-left: 1px solid var(--background-secondary);
  border-right: 1px solid var(--background-secondary);
}
.cm-line[data-templater-code] span.cm-inline-code {
  font-size: 100%;
  color: inherit;
  display: inline;
  background: none !important;
  border: none !important;
}